/* ===== MODAL ===== */
.filtro-avanzado-modal .modal-content {
  border-radius: 16px;
  border: none;
  box-shadow: 0 20px 45px rgba(0, 0, 0, 0.25);
}

/* ===== BODY ===== */
.filtro-avanzado-modal .modal-body {
  background: #f6f7f8;
  border-radius: 1.5rem;
}

/* ===== GRUPOS ===== */
.filtro-avanzado-field {
  background: #ffffff;
  padding: 12px 14px;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.06);
}

.field-pair {
  display: flex;
  gap: 0.3rem;
}

/* CONTENEDOR: sin padding interno extra */
.filtro-avanzado-field {
  background: #FFFFFF;
  border-radius: 12px;
}

.filtro-avanzado-modal .form-control,
.filtro-avanzado-modal .form-select {
  width: 100%;
  padding: 10px 12px;     
  margin: 0;             
  font-size: 14px;
  border-radius: 10px;
}

.filtro-avanzado-field label {
  display: block;
  margin-bottom: 6px;
  font-size: 14px;
  font-weight: 500;
}

.filtro-avanzado-modal .form-control:focus,
.filtro-avanzado-modal .form-select:focus {
  border-color: #c3401c;
}

/* ===== FOOTER ===== */
.filtro-avanzado-modal .footerFiltros {
  background: #f6f7f8;
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  border-radius: 1rem;
}

.filtro-avanzado-modal .footerFiltros .btnAplicar,
.filtro-avanzado-modal .footerFiltros .btnCerrar {
  width: auto;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

/* ===== BOTONES ===== */
.filtro-avanzado-modal .btnAplicar {
  background: #c3401c;
  border-radius: 12px;
  border: none;
  flex: 2;
  padding: 12px;
  font-weight: 500;
  box-shadow: none;
}

.filtro-avanzado-modal .btnCerrar {
  background: #3D5A80;
  border-radius: 12px;
  border: none;
  flex: 1;
  padding: 12px;
}

.filtro-avanzado-modal .btnAplicar:hover{
    background: #3D5A80;
}

.filtro-avanzado-modal .btnCerrar:hover{
    background: #c3401c;
}


/* ===== RESPONSIVE ===== */
@media (max-width: 520px) {
  .field-pair {
    flex-direction: column;
  }
}
